<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
<connectionStrings><add name="DBMelaninaEntities" connectionString="metadata=res://*/Models.MelaninaModel.csdl|res://*/Models.MelaninaModel.ssdl|res://*/Models.MelaninaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL\SQLEXPRESS;initial catalog=DBMelanina;persist security info=True;user id=sa;password=&amp;destroyer#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>
